<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>Forgot Password</title>
  </head>
  <body>
    <div class="right-div forgot-password">
      <form action="../scripts/forgot_password.php" method="POST">
        <label for="email"
          >Enter your email: <input type="email" name="email"
        /></label>
        <label for="new_password"
          >Enter your new password: <input type="password" name="new_password"
        /></label>
        <button type="submit">Change Password</button>
      </form>
    </div>
  </body>
</html>
