<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <div class="left-div">
        <img
          src="../assets/img/undraw_mobile_user_-7-oqo.svg"
          alt="girl using mobile"
        />
        <h1>Glad To See You Again!</h1>
      </div>
      <div class="right-div">
        <h2>Please login here</h2>
        <form action="../scripts/login.php" method="POST">
          <label for="email"
            >Enter your email: <input type="email" name="email"
          /></label>
          <label for="password"
            >Enter your password: <input type="password" name="password"
          /></label>
          <button type="submit">Login</button>
        </form>
        <p>
          <a href="forgot_password.html">Forgot Password?</a>
        </p>
        <p>
          New Member to our website? <a href="register.html">Register Here</a>
        </p>
      </div>
    </div>
  </body>
</html>
